---
const today = new Date();
import { Icon } from "astro-icon/components";
---

<footer
  class="flex flex-col items-center container mx-auto p-10 text-center gap-10 pb-40 text-text-main"
>
  &copy; {today.getFullYear()} seasKanon. All rights reserved.
  <div class="flex items-center gap-6 text-5xl">
    <a
      href="/"
      class="border-1 p-1 border-border-main rounded-full bg-ppink shadow-card hover:shadow-hover transition"
      aria-label="Home"
      >
      <Icon name="web" />
    </a>
    <a
      href="https://github.com/your-github"
      target="_blank"
      rel="noopener noreferrer"
      class="border-1 p-1 border-border-main rounded-full bg-pblue shadow-card hover:shadow-hover transition"
      aria-label="GitHub Profile"
      >
      <Icon name="github" />
    </a>
    <a
      href="https://www.bilibili.com/your-bilibili"
      target="_blank"
      rel="noopener noreferrer"
      class="border-1 p-1 border-border-main rounded-full bg-pgreen shadow-card hover:shadow-hover transition"
      aria-label="Bilibili Profile"
      >
      <Icon name="bilibili" />
    </a>
    <a
      href="https://www.zhihu.com/your-zhihu"
      target="_blank"
      rel="noopener noreferrer"
      class="border-1 p-1 border-border-main rounded-full bg-pyellow shadow-card hover:shadow-hover transition"
      aria-label="Zhihu Profile"
      >
      <Icon name="zhihu" />
    </a>
  </div>
</footer>
